@import url("assets/variables.css");
@import url("assets/text.css");

#menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

#menu a:hover {
    text-decoration: underline;
}

#logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

#header {
    position: sticky;
    box-sizing: border-box; /* mantem sempre a tamanho definido no height, somando as outras configs */
    height: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    display: flex;
    gap: .5rem;
    list-style: none;
}

#toggle-navbar {
    display: none;
}

@media only screen and (max-width: 768px) {
    #toggle-navbar { 
        display: block; 
    }
    #menu { 
        z-index: 1000;
        display: block; 
        position: absolute;
        width: 100%;
        top: 3rem;
        right: 0;
        height: 0;
        transition: .52s ease-in;
        visibility: hidden;
        overflow-y: hidden;
    }
    #navbar.active #menu { 
        height: calc(100vh - 3rem);
        display: block; 
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 2rem 0;
        margin: 0 1rem;
    }

    #toggle-navbar {
        display: flex;
        gap: 5rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    } 
    #hamburger::before, #hamburger::after {
        position: relative;
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
    }
    #navbar.active #hamburger {
        border-top-color: transparent;
    }
    #navbar.active #hamburger::before {
        transform: rotate(135deg);
    }
    #navbar.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}